.git
.gitignore
Dockerfile
.dockerignore
*.sqlite
.coveragerc
.eggs
.github
.pylintrc
.travis.yml
CONTRIBUTING.md
MANIFEST.in
README.md
freqtrade.service
user_data/data
user_data/notebooks
user_data/backtest_results

